services:
  backend:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    container_name: django-dev
    volumes:
      - ..:/app
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1523612m
      POSTGRES_DB: AdvancedBlogProject
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data: