[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    migrations,
    __init__.py,
    ./core/settings.py,
    ./core/swagger_custom_tag.py,
    ./create_test_data.py

per-file-ignores =
    */tests/*.py:E501